<header class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">descansa.io</a>
  <nav class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="angularjs">AngularJS (1.x)</a></li>
      <li class="nav-item"><a class="nav-link" href="elm">Elm</a></li>
      <li class="nav-item"><a class="nav-link" href="react">React</a></li>
      <li class="nav-item"><a class="nav-link" href="vue">Vue.js</a></li>
      <li class="nav-item"><a class="nav-link" href="ember">Ember.js</a></li>
      <li class="nav-item"><a class="nav-link active">Angular (2/4)</a></li>
    </ul>
  </nav>
</header>
